body {
    margin: 20;
    height: 100vh;
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;     /* 수직 중앙 정렬 */
    background-color: black;
}

#start_menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#start_menu button {
  display: block;
}

#level_select_menu {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#level_select_menu button {
  display: block;
}

/* 캔버스와 버튼을 담은 전체 컨테이너 */
#game-container {
    position: relative;
    width: 80vw;   /* 화면 너비의 80% */
    height: 80vh;  /* 화면 높이의 80% */
}

/* 캔버스 스타일 */
#board {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-top: 5px solid skyblue;
  border-left: 5px solid skyblue;
  border-right: 5px solid skyblue;
}

.hover {
  background-color: black;
  color: white;
}

#game_ui {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: steelblue;
    color: white;
    display: flex;
    flex-direction: column;   /* 수직 정렬 */
    align-items: center;
    gap: 20px;                /* 버튼 간 간격 */
    background-color: steelblue;
    border-radius: 10px;
}

#game_start {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
}

#settings {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
}